<div class="google-map-container">
  <mat-drawer-container class="drawer-container" autosize #drawer>
    <!-- Side content -->
    <mat-drawer #drawer class="side-content" mode="side">
      @if (activeLocationIndex | isNumber) {
      <app-map-side-content [location]="locations[activeLocationIndex!]" (closeButtonClick)="closeDrawerAndTooltip()" />
      }
    </mat-drawer>
    <!-- /Side content -->

    <!-- Main content -->
    <div class="main-content">
      <!-- Map -->
      <google-map height="100%" width="100%" [zoom]="mapZoom" [options]="mapOptions" #map mapId="25cf7642dfd3d634"> </google-map>
      <!-- /Map -->
    </div>
    <!-- /Main content -->
  </mat-drawer-container>
</div>
