@use '../../../assets/common' as *;

$map-side-content-width: 380px;

:host {
  display: block;
}

.google-map-container {
  height: calc(100vh - #{$top-toolbar-height});
  width: 100vw;

  google-map {
    display: block;
    height: 100%;
    width: 100%;
  }
}

.drawer-container {
  width: inherit;
  height: inherit;
}

.main-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.side-content {
  min-width: $map-side-content-width;

  .header {
    display: flex;
    justify-content: space-between;
    padding: map-get($spacers, 2) map-get($spacers, 3);
    align-items: center;

    h2 {
      margin-bottom: 0;
    }
  }

  .content {
    padding: 0 map-get($spacers, 3);
    margin-top: map-get($spacers, 4);

    .location-info-row {
      display: flex;
      flex-direction: column;
      text-transform: uppercase;
      gap: map-get($spacers, 1);
      margin-bottom: map-get($spacers, 3);

      .key {
        color: $app-theme-color;
        font-size: 12px;
      }

      .value {
        font-size: 16px;
      }
    }
  }
}
