@if (locations$ | async; as locations) {
<div class="google-map-container">
  <mat-drawer-container class="drawer-container" autosize #drawer>
    <!-- Side content -->
    <mat-drawer #drawer class="side-content" mode="side">
      <app-map-side-content [location]="locations[activeLocationIndex!]" (closeButtonClick)="closeDrawerAndTooltip()" />
    </mat-drawer>
    <!-- /Side content -->

    <!-- Main content -->
    <div class="main-content">
      <!-- Map -->
      <google-map height="100%" width="100%" [zoom]="mapZoom" [options]="mapOptions">
        <!-- Marker clusterer -->
        <map-marker-clusterer [imagePath]="clusterImagePath">
          <!-- Markers -->
          @for (location of locations; track idx; let idx = $index) {
          <map-marker
            #marker="mapMarker"
            [position]="{ lat: location.lat, lng: location.lng }"
            [icon]="idx === this.activeLocationIndex ? activeMarkerIcon : defaultMarkerIcon"
            (mapClick)="markerClicked(marker, idx)"
          />
          }
          <!-- /Markers -->
        </map-marker-clusterer>
        <!-- /Marker clusterer -->

        <!-- Marker tooltip -->
        <map-info-window (closeclick)="closeDrawerAndTooltip()">
          <span>{{ activeLocationIndex ? locations[activeLocationIndex].name : '' }}</span>
        </map-info-window>
        <!-- /Marker tooltip -->
      </google-map>
      <!-- /Map -->
    </div>
    <!-- /Main content -->
  </mat-drawer-container>
</div>
}
