@use '../../../../assets/common' as *;

$location-info-row-label-font-size: 12px;
$location-info-row-value-font-size: 16px;

.header {
  display: flex;
  justify-content: space-between;
  padding: map-get($spacers, 2) map-get($spacers, 3);
  align-items: center;

  h2 {
    margin-bottom: 0;
  }
}

.content {
  padding: 0 map-get($spacers, 3);
  margin-top: map-get($spacers, 4);

  .location-info-row {
    display: flex;
    flex-direction: column;
    margin-bottom: map-get($spacers, 3);

    .label {
      color: $app-theme-color;
      font-size: $location-info-row-label-font-size;
      font-weight: 800;
      text-transform: uppercase;
    }

    .value {
      font-size: $location-info-row-value-font-size;
    }
  }
}
