@use '../../../assets/common.scss' as common;

$top-toolbar-navigation-buttons-margin-left: map-get(common.$spacers, 4);
$top-toolbar-navigation-buttons-gap: map-get(common.$spacers, 1);

mat-toolbar {
  height: common.$top-toolbar-height;
}

.navigation-items {
  display: flex;
  margin-left: $top-toolbar-navigation-buttons-margin-left;
  gap: $top-toolbar-navigation-buttons-gap;
}
