<ng-container *transloco="let t">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <!-- Logo -->
      <a routerLink="/home" class="logo">
        <img src="assets/icons/marker.png" alt="marker" />
        Location<span class="faded-text">Xplorer</span>
      </a>
      <!-- /Logo -->

      <!-- Navigation items -->
      <div class="navigation-items">
        <!-- Map -->
        <a mat-button routerLink="/map" routerLinkActive="router-link-active">{{
          t('menuItems.map')
        }}</a>
        <!-- /Map -->

        <!-- List -->
        <a
          mat-button
          routerLink="/list"
          routerLinkActive="router-link-active"
          >{{ t('menuItems.list') }}</a
        >
        <!-- /List -->
      </div>
      <!-- /Navigation items -->

      <!-- Language selector -->
      <div class="language-selector">
        <a mat-icon-button [matMenuTriggerFor]="menu">
          <img [src]="'assets/flags/' + activeLanguage + '.png'" alt="flag" />
        </a>
        <mat-menu #menu="matMenu">
          @for (language of availableLanguages; track $index) {
          <button mat-menu-item (click)="languageSelected(language)">
            {{ language }}
          </button>
          }
        </mat-menu>
      </div>
      <!-- Language selector -->
    </mat-toolbar-row>
  </mat-toolbar>
</ng-container>
