<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!-- Logo -->
    <a routerLink="/home" class="logo">
      <img src="assets/icons/marker.png" alt="marker" />
      Location<span class="faded-text">Xplorer</span>
    </a>
    <!-- /Logo -->

    <!-- Navigation items -->
    <div class="navigation-items">
      <a mat-button routerLink="/list" routerLinkActive="router-link-active"
        >List</a
      >
      <a mat-button routerLink="/map">Map</a>
    </div>
    <!-- /Navigation items -->
  </mat-toolbar-row>
</mat-toolbar>
