@use '@angular/material' as mat;

$spacers: (
  0: 0,
  1: 8px,
  2: 16px,
  3: 24px,
  4: 32px,
  5: 40px,
  6: 48px,
  7: 56px,
);

$top-toolbar-height: 64px;
$primary-palette: mat.define-palette(mat.$deep-purple-palette);
$primary-palette-color: mat.get-color-from-palette($primary-palette, 500);
$app-theme-color: $primary-palette-color;
